
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffffff;
  font-family: 'Urbanist', sans-serif;
}

canvas {
  display: block;
}

button {
  font-family: 'Urbanist', sans-serif;
  background-color: #6fd6ff;
  border: none;
    color: #080a69;
  border-radius: 12px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: #4fc6f0;
}
